﻿@model PassionProject.Models.Players

@{
    ViewBag.Title = "Details";
}
<div class="addButton">
    @Html.ActionLink("Edit", "Edit", new { id = Model.PlayerId })
</div>
<div class="addButton">
    @Html.ActionLink("Back to List", "Index")
</div>
<div class="detailsText">    
    <p>Details</p>
    <p>Player Id: @Model.PlayerId</p>
    <p>Player Name: @Model.PlayerName</p>
    <p>Player Role: @Model.PlayerRole</p>
    <p>Player Country: @Model.PlayerCountry</p>
</div>

