﻿@model PassionProject.Models.ViewModels.PlayerEdit

@{
    ViewBag.Title = "Edit";
}

<h3>Edit Player</h3>
<div id="formDiv">
    <form id="formEdit" method="POST" action="/Players/Edit/@Model.players.PlayerId">
        <div class="form-group">
            <label class="inplabel">Player Name</label><br/>
            <input type="text" value="@Model.players.PlayerName" id="PlayerName" name="PlayerName" />
        </div>
        <div class="inprow">
            <label class="inplabel">Player Country</label><br />
            <input type="text" value="@Model.players.PlayerCountry" id="PlayerCountry" name="PlayerCountry" />
        </div>
        <div class="inprow">
            <label class="inplabel">Player Role</label><br />
            <input type="text" value="@Model.players.PlayerRole" id="PlayerRole" name="PlayerRole" />
        </div>

        <div class="inptrow">
            <label class="inplabel">Team</label><br />
            <select name="teamddl">
                @foreach (var team in Model.teams)
                {
                    <option value="@team.TeamId"
                            @if (team.TeamId == Model.players.TeamId.TeamId) { var selected = "selected"; @selected ; }>
                        @team.TeamName
                    </option>
                }

            </select>
        </div>

        <div class="inprow">
            <input type="submit" value="Submit" />
        </div>

    </form>
   </div>