﻿@model IEnumerable<PassionProject.Models.Players>
@{
    ViewBag.Title = "Index";
}
<div class="addButton">
    @Html.ActionLink("Add New Player", "Add")
</div>
<h2>Welcome to players page</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PlayerName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerRole)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlayerRole)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.PlayerId }) |
                @Html.ActionLink("Details", "Details", new { id = item.PlayerId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.PlayerId })
            </td>
        </tr>
    }

</table>
