﻿@model PassionProject.Models.Teams

@{
    ViewBag.Title = "Details";
}
<div class="addButton">
    @Html.ActionLink("Edit", "Edit", new { id = Model.TeamId })
</div>
<div class="addButton">
    @Html.ActionLink("Back to List", "Index")
</div>
<div class="detailsText">
    
    <p>Details</p>
    <p>Player Name: @Model.TeamName</p>
    <p>Player Motto: @Model.TeamMotto</p>
    <p>Player Country: @Model.TeamCountry</p>

</div>

