﻿@model PassionProject.Models.ViewModels.TeamEdit
@{
    ViewBag.Title = "Edit";
}

<h3>Edit Team</h3>
<div id="formDiv">
    <form method="POST" action="/Teams/Edit/@Model.teams.TeamId">
        <br class="inprow">
            <label class="inplabel">Team Name</label><br />
            <input type="text" value="@Model.teams.TeamName" id="TeamName" name="TeamName" />
        
        <br class="inprow">
            <label class="inplabel">Team Country</label><br />
            <input type="text" value="@Model.teams.TeamCountry" id="TeamCountry" name="TeamCountry" />
        
        <br class="inprow">
            <label class="inplabel">Coach Name</label><br />
            <input type="text" value="@Model.teams.CoachName" id="CoachName" name="CoachName" />
       
        <br class="inprow">
            <label class="inplabel">Team Motto</label><br />
            <input type="text" value="@Model.teams.TeamMotto" id="TeamMotto" name="TeamMotto" />
        
            <div class="inprow"><br/>
            <input type="submit" value="Submit" />
        </div>

    </form>
    </div>
