﻿@model IEnumerable<PassionProject.Models.Teams>
@{
    ViewBag.Title = "Index";
}
<div class="addButton">
    @Html.ActionLink("Add New Team", "Add")
</div>
<h2>Welcome to Teams page</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TeamName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TeamCountry)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CoachName)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.TeamMotto)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TeamName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoachName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TeamMotto)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.TeamId }) |
                @Html.ActionLink("Details", "Details", new { id = item.TeamId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.TeamId })
            </td>
        </tr>
    }

</table>
