﻿body {
    background-color: #d5f4e6;
    color: #222323;
    font-size: 1.6em;
}
#formDiv {
    margin-left:35%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #33e2f4;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

    input[type=submit]:hover {
        background-color: #04e3f9;
    }
.addButton {
    width: 50%;
    background-color: #fefbd8;
    color: white;
    padding: 10px 10px;
    margin: auto;
    margin-bottom:2px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align:center;
    font-size:20px;
}
.detailsText {
    width: 50%;
    background-color: #fefbd8;
    color: green;
    padding: 10px 10px;
    margin: auto;
    margin-bottom: 2px;
    border: double;
    border-color: #618685;
    border-radius: 4px;
    cursor: pointer;
    
    font-size: 20px;
}
    .detailsText p {
        background-color: #fefbd8;
        color: black;
        padding: 5px 5px;
        margin: auto;
        margin-bottom: 2px;
        margin-left: 30%;
        border-radius: 4px;
        cursor: pointer;
        font-size: 20px;
    }
