﻿@model IEnumerable<PassionProject.Models.Awards>
@{
    ViewBag.Title = "Index";
}
<div class="addButton">
    <p style="color:#551A8B">This feature in under development.<p>
</div>
<h2>Welcome to Teams page</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AwardName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AwardYear)
        </th>
       
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AwardName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AwardYear)
            </td>
            
        </tr>
    }

</table>
