﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Players CMS</h1>
    <p class="lead">Welcome the Team Management System.</p>
    <p><a href="https://www.icc-cricket.com/" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Add Players & Teams</h2>
        <p>
           Management can use this syetem to add new player and teams.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Edit Records</h2>
        <p>This management system can be used to edit any record at anytime.</p>
     </div>
    <div class="col-md-4">
        <h2>Delete Records</h2>
        <p>You can easily delete any record at anytime. It will be updated instantaneous</p>
     </div>
</div>